<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="{{ site.baseurl }}/"><i class="fa fa-home"></i></a>
    </div>
    <div id="navbar">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="{{ site.baseurl }}people.html">People</a></li>
        <li><a href="{{ site.baseurl }}pulications.html">Pulications</a></li>
        <li><a href="{{ site.baseurl }}links.html">Links</a></li>
        <li><a href="{{ site.baseurl }}Contact.html">Contact</a></li>


      </ul>
    </div>
  </div>
</nav>
