<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">

        <td>
                <img src="static/SSQIG.png" alt="" border="0" height="50" width="270"></td>
    </div>
    <div id="navbar">
      <ul class="nav navbar-nav navbar-right">
        <td>
                <img src="static/SSQIG.png" alt="" border="0" height="50" width="270"></td>
        <li><a href="/">Home</a></li>
        <li><a href="/members/">Members</a></li>
        <li><a href="/publications/">Publications</a></li>
        <li><a href="/links/">Links</a></li>
        <li><a href="/contact/">Contact</a></li>
      </ul>
    </div>
  </div>
</nav>
